body {
    background-image: linear-gradient(#fe34cc, #933131);

}
#calculator {
    background-color: #333;
    border-radius: 5px;
    display: block;
    padding: 20px;
    box-shadow: 3px 3px 3px 0;
}
#top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
